@media screen and (min-width: 426px) {
    .navigation {
        width: 200px;
    }

    .header {
        width: calc(100% - 200px);
    }

    .main {
        width: calc(100% - 200px);
    }

    
    
    .large-logo,
    span,
    .playlist {
        display: inline;
    }

    .small-logo {
        display: none;
    }
}


/* MEDIOXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {
    
    .col1 {
        width: calc(100% / 4);
    }

    .row2,
    .row3 {
        max-width: 50%;
    }

    .final-icon {
        flex-direction: row;
    }

    .navbar {
        font-size: 15px;
    }
}




/* LARGEXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 1000px) {
    .col1 {
        width: calc(100% / 6);
    }
}