@media screen and (min-width: 426px) {
    .navigation {
        width: 200px;
    }
    
    .large-logo,
    span,
    .playlist {
        display: inline;
    }

    .small-logo {
        display: none;
    }
}



/* TABLETXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* media screen and (min-width: 768px) {

} */

/* MEDIOXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 768px) {
    .col1 {
        width: calc(100% / 4);
    }
}


/* LARGEXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 1000px) {
    .col1 {
        width: calc(100% / 6);
    }
}