:root {
    --grey: #b8b7b7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
    display: flex;
}

ul {
list-style: none;

}

.button {
    display: inline;
    color: white;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0.5rem 0.3rem 0.6rem 0;
    font-size: 10px;
}

.plus {
    background-color: white;
    padding: 0.3rem;
    font-size: 20px;
}

.yellow::before {
    content: "";
    border-left: 3px solid yellowgreen;
    display: none;
}

/* DISPLAY NONE  */
.large-logo,
span,
.playlist {
    display: none;
}

.large-logo {
    height: 40px;
        padding: 5px;
}


/* CLASSI  */
.pad {
    padding: 5px;
}


/* HOVER  */
a:hover,
span:hover {
    color: white;
    cursor: pointer
}

.button:hover {
    cursor: pointer;
    font-size: 12px;
}



.final-icon:hover {
    color: white
}

.album {
    position: relative;
}

.foto-2 {
    position: absolute;
    font-size: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 70%);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.album:hover .foto-2 {
    z-index: 0;
}

.spotify {
    display: flex;
    height: calc(100vh - 4.4rem);
}

/* HEADER  */
.header {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(8, 11, 18);
    position: fixed;
    top: 0;
    right: 0;
}

/* FINE HEADER  */



/* NAVIGATION  */
.navigation {
    color: var(--grey);
    width: 2rem;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h-img {
    height: 20px;
    padding-right: 5px;
}

.playlist {
    padding: 10px 5px;
}

h2 {
    font-size: 15px;
    padding: 5px 0;
    color: rgb(255, 255, 255);
}

.pad li {
    padding: 5px 0;
}

/* FINE NAVIGATION  */



/* CONTENT  */
.content {
    width: 100%;
    padding: 10px;
}

.main {
    width: calc(100% - 2rem );
    background-color: rgb(20, 25, 34);
    overflow: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 50px 10px 20px;
    font-size: 10px;
    color: var(--grey);

}

.lista-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.lista-nav a {
    padding: 5px;
    
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.col1 {
    width: calc(100% / 2);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.row2 {
    display: flex;
}

.col2 {
    padding: 20px 0;

}

.row3 {
    display: flex;
}

.col3 {
  padding: 20px 0;
}

.mt {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 20px
}

p {
    color: var(--grey);
}

.pd-img {
    padding: 0 5px;
}

.bd50 {
    border-radius: 50%;
}

/* FINE CONTENT  */


/* FOOTER  */
.footer {
  width: 100%;
  height: 4.4rem;
  background-color: rgb(40, 40, 40);
}


h4 {
    color: rgb(255, 255, 255);
}

.fot-img {
    height: 20px;
    width: 20px;
}

.decorations {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

.fot1 {
    display: flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
}

.sinister {
    padding-left: 5px;
    font-size: 10px;
}

.final-icon {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 2px;
    font-size: 15px;
    }

.fot2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.sound {
    display: flex;
    gap: 20px;
}

.fot3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

